
html {
  height: 100%;
}

body {
  font: 12px arial;
  height: 100%;
  background: #ddd;
}

a {
  color: black;
}

.my-parent {
  margin: 20px 100px;
  width: 60%;
  height: 50%;
  overflow: hidden;
  background: #444;
}

/* Hide child element until it has been processed. */
.my-child {
  visibility: hidden;
}

.my-child.fit-me-processed {
  visibility: visible;
}

/* Toggle visibility of overlow using CSS class. */
.my-parent.show-overflow {
  overflow: visible;
}

.my-parent.show-overflow .my-child {
  pointer-events: none;
  opacity: .9;
}

/**
 * For this demo we position the image absolutely so we are sure it's not the
 * image that is stretching up our child element.
 */
.my-child img {
  position: absolute;
  height: 100%;
  width: 100%;
}

/* Example 4: Make images inside PICTURE element fluid. */
[data-picture] img {
  width: 100%;
  height: auto;
}
